%h1 Websites
.row
  .col-md-4
    = simple_form_for(website) do |form|
      =form.input :name, label: false
      =form.button :submit, 'Add website'

%hr/
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Status
      %th Response time 
      %th Last update  
      %th Link   
  %tbody
    -websites.each do |w|
      %tr
        %td=w.name
        %td=w.responses.last.try(:readable_status)
        %td=w.responses.last.try(:response_time)
        %td=readable_time(w.responses.last.try(:updated_at))
        %td=link_to 'Show', website_keywords_path(w)
