%h1 Websites
=form_for website do |f|
  = render 'layouts/messages', object: f.object
  =f.text_field :name
  =f.button :submit  
%hr/
%table.table-striped
  %thead
    %tr
      %th Name
      %th Response time
  %tbody
    -websites.each do |w|
      %tr
        %td=w.name
        %td=w.response_time