%h2=website.name
%hr
.row
  .col-md-4
    =simple_form_for keyword, url: website_keywords_path(website) do |form|
      =form.input :name, label: 'Keyword'
      =form.button :submit, 'Add keywords'
-if website.keywords.any?
  %table.table.table-striped
    %theadW
      %tr
        %th Keyword 
        %th Current position
        %th Average position
    %tbody
      -keywords.each do |k|
        %tr
          %td=k.name
          %td=k.positions.last.try(:position)
          %td=k.average_position
